body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-family: "Comic Sans MS";
  text-align: center;
  color: #80019c;
}

.main-container {
  backdrop-filter: blur(13px);
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black 5px;
  border-radius: 20px;
  margin: 40px 90px;
  padding: 0 30px 30px 30px;
}

.title{
  margin-bottom: 14px;
}

button{
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 9px;
  border: #8100c6 solid 2.7px;
  color: #8100c6;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}