.date{
    font-size: 1.8em;
    margin: 17px 0 12px 0;
    color: #8400ff;
    font-weight: bold;
}
.side-date{
    font-size: 0.65em;
    margin: 0 14px;
    color: #982aff;
}
.further-side-date{
    font-size: 0.42em;
    color: #ac57fc;
}